* {
    font-family: 'Times New Roman', Times, serif;
}

.navbar-nav li{
    font-size: 17px;
    font-weight: 200;
    
}
.navbar li a{
    color: white;
}

.navbar li a:hover {
    color: rgb(52, 130, 20);

}