.footer-heading {
  color: #ff7200; 
}

.text-decoration-none {
  text-decoration: none !important; 
}

.fa {
  transition: transform 0.3s ease-in-out;
}

.fa:hover {
  transform: scale(1.2);
}

.social-icon {
  color: #ff7200;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #28a745;
  text-decoration: none;
}

/* Hover effect for footer router links */
a[routerLink] {
  color: white; /* Default link color */
  transition: color 0.3s ease-in-out;
}

a[routerLink]:hover {
  color: #28a745 !important; /* Green color on hover */
  text-decoration: underline !important;
}

.btn:hover {
  background-color: #ff7200;
}
