<div class="row">
  <div class="col-lg-1 col-md-1"></div>
  <div class="col-lg-10 col-md-10 p-1 m-2">
    <footer class="bg-dark text-white pt-4">
      <div class="container">
        <div class="row">
          
          <!-- Column 1: About -->
          <div class="col-md-3">
            <h5 class="footer-heading ">About Us</h5>
            <img  src="assets/images/logo1.png" alt="Logo" width="90">
            <p>We offer top-quality training in web development, programming, and IT certifications to help you build a successful career.</p>
          </div>
    
          <!-- Column 2: Quick Links -->
          <div class="col-md-3">
            <h5 class="footer-heading">Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none" routerLink="/home">Home</a></li>
              <li><a href="#" class="text-white text-decoration-none" routerLink="/about">About Us</a></li>
              <li><a href="#" class="text-white text-decoration-none"routerLink="/courses" >Our Courses</a></li>
              <li><a href="#" class="text-white text-decoration-none" routerLink="/contact">Contact Us</a></li>
            </ul>
          </div>
    
          <!-- Column 3: Popular Courses -->
          <div class="col-md-3">
            <h5 class="footer-heading">Popular Courses</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none" routerLink="/enroll">PHP Development</a></li>
              <li><a href="#" class="text-white text-decoration-none" routerLink="/enroll">Angular Training</a></li>
              <li><a href="#" class="text-white text-decoration-none" routerLink="/enroll">React JS Course</a></li>
              <li><a href="#" class="text-white text-decoration-none" routerLink="/enroll">Django Full Stack</a></li>
            </ul>
          </div>
    
          <!-- Column 4: Contact Us -->
          <div class="col-md-3">
            <h5 class="footer-heading">Contact Us</h5>
            <p><i class="fas fa-map-marker-alt"></i> WebSpark Pvt. Ltd., Near Natt Road, Talwandi Sabo (Bathinda) Pin.151302</p>
            <p><i class="fas fa-envelope"></i> contact&#64;webspark.com</p>
            <p><i class="fas fa-phone"></i> +91 6280200001</p>
          </div>
    
        </div>
        
        <!-- Social Media Icons -->
        <div class="text-center mt-3">
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>

        <div class="text-center pb-3 mt-3">
          <p class="mb-0">&copy; 2025 WebSpark. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </div>
  <div class="col-lg-1 col-md-1"></div>
</div>
