
<div class="text"><h2>Get a step forward to enhance your skills </h2></div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 ">
      <div class="card text-center mb-4" >
        <img src="assets/images/angular.jpeg" class="card-img-top" alt="angular" />
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">
            Get started with Angular to enhance web development
          </p>
          <a href="#" class="btn btn-danger">Enroll Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 ">
      <div class="card text-center mb-4" >
        <img src="assets/images/flutter.jpeg" class="card-img-top" alt="angular" />
        <div class="card-body">
          <h5 class="card-title">Flutter</h5>
          <p class="card-text">
            Get started with Flutter to develop cross platform apps
          </p>
          <a href="#" class="btn btn-danger">Enroll Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card text-center mb-4" >
        <img src="assets/images/django.png" class="card-img-top" alt="angular" />
        <div class="card-body ">
          <h5 class="card-title">Django</h5>
          <p class="card-text">
            Get started with Django for back end development
          </p>
          <a href="#" class="btn btn-danger">Enroll Now</a>
        </div>
      </div>
    </div>
 

    <div class="col-lg-4 col-md-6">
      <div class="card text-center mb-4" >
        <img src="assets/images/react.jpeg" class="card-img-top" alt="angular" />
        <div class="card-body ">
          <h5 class="card-title">React</h5>
          <p class="card-text">
            Get started with react to create websites
          </p>
          <a href="#" class="btn btn-danger ">Enroll Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card text-center mb-4" >
        <img src="assets/images/java.png" class="card-img-top" alt="angular" />
        <div class="card-body">
          <h5 class="card-title">Java</h5>
          <p class="card-text">
            Get started with Java language from basics
          </p>
          <a href="#" class="btn btn-danger">Enroll Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card text-center mb-4" >
        <img src="assets/images/php.jpeg" class="card-img-top" alt="angular" />
        <div class="card-body">
          <h5 class="card-title">PHP</h5>
          <p class="card-text">
            Get started with PHP to enhance web development
          </p>
          <a href="#" class="btn btn-danger">Enroll Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
