.mheading{
    border-bottom: 1px solid #348214;
    margin-bottom: 20px;
    color: #ff7200;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
  
  .card {
    border-radius: 10px;
  }
  
  .fa {
    transition: transform 0.3s ease-in-out;
  }
  
  .fa:hover {
    transform: scale(1.2);
  }
  .social-icon {
    color: #ff7200;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icon:hover {
    color: #28a745; /* Green color on hover */
    text-decoration: none;
  }
  .btn:hover{
    background-color: #ff7200;
  }