<div class="row">
  <div class="col-lg-2 col-md-2"></div>
  <div class="col-lg-8 col-md-8">
    <div class="container my-5">
      <h2 class="mheading text-center mb-4">Pay Fees for Joining the Course</h2>
      <h2 class=" text-center mt-2">Choose the fees amount as per details given in below table</h2>
      <table class="m-1">
  <tr>
    <th>Learning Mode</th>
    <th>Duration</th>
    <th>Level of Course</th>
  </tr>
  <tr>
    <td>Online</td>
    <td>1 Month</td>
    <td>Beginner</td>
  </tr>
  <tr>
    <td>Offline</td>
   <td>1 Month</td>
    <td>Beginner</td>
  </tr>
   <tr>
    <td>Online</td>
    <td>2 Month</td>
    <td>Beginner</td>
  </tr>
  <tr>
    <td>Offline</td>
   <td>1 Month</td>
    <td>Beginner</td>
  </tr>
</table>
    </div>
  </div>

<div class="col-lg-2 col-md-2"></div>
</div>