* {
    font-family: 'Times New Roman', Times, serif;
}
.navbar-nav li{
    font-size: 17px;
    font-weight: 200;
    
}
.navbar li a{
    color: black;
}

.navbar li a:hover {
    color: #348214;

}