<div class="container">
  <div class="row">
    <div class="col lg-9 ">
      <div class="content">
        <h1>
          <br><span> WebSpark </span>
        </h1> <br>
        <h3>Leading Technical Training Company</h3><br>

        <p class="par">
          Embark on journey of digital innovation with WebSpark, your premier hub for web and app development courses.
          Our meticulously curated curriculum caters to beginners and experts alike, covering everything from
          foundational front-end technologies to advanced back-end frameworks. Dive into the world of app creation with
          specialized courses in iOS, Android, and cross-platform development.</p>

        <button class="join"><a href="#">JOIN US</a></button>

      </div>
    </div>
    <div class="col lg-3  justify-content-center mt-5">
      <div class="cardmargin">
      <div class="row" >
        <div class="col-md-6 ">
          <div class="card">
            <div class="card-body">
              <p class="card-text text-center">Website Development</p>
            </div>
            <img class="card-img-top" src="assets/images/onec.jpg" alt="Card image cap">

          </div>
        </div>
        <div class="col-md-6 ">
          <div class="card">
            <div class="card-body">
              <p class="card-text text-center">App Development</p>
            </div>
            <img class="card-img-top" src="assets/images/flutter.jpeg" alt="Card image cap">

          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6   ">
          <div class="bg">
            <img class="card-img-top" src="assets/images/onec.jpg" alt="Card image cap">
            <div class="card">

              <div class="card-body">

                <p class="card-text text-center">Game Development</p>
              </div>


            </div>
          </div>
        </div>
        <div class="col-md-6   ">
          <div class="bg">
            <img class="card-img-top" src="assets/images/app.jpg" alt="Card image cap">
            <div class="card">

              <div class="card-body">

                <p class="card-text text-center"> Web Designing</p>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- 
    <div class="form "> 
      <h2>Login Here</h2>
      <input type="email" name="email" placeholder="Enter Email Here">
      <input type="password" name="" placeholder="Enter Password Here">
      <button class="btnn"><a href="#">Login</a></button>

      <p class="link">Don't have an account,<br>
        <a href="#">Sign up </a>here
      </p>
      <p class="liw">Log in with  </p>
     
      <div class="icons"> 
        <a href="#"><i class="fa-brands fa-facebook" ></i> </a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter" ></i> </a>
        <a href="#"><i class="fa-brands fa-youtube-play"></i>  </a>
      </div>  -->
  </div>
</div>