<div class="container">
  <div class="row">
    <div class="col-md-8 lg-8">
      <div class="content">
        <h1>Dive Into Technology
          <br><span> Excellence:Innovation  </span> <br>With WebSpark<br>
        </h1>
        <p class="par">
          Embark on journey of digital innovation with WebSpark, your premier hub for web and app development courses.
          Our meticulously curated curriculum caters to beginners and experts alike, covering everything from
          foundational front-end technologies to advanced back-end frameworks. Dive into the world of app creation with
          specialized courses in iOS, Android, and cross-platform development.</p>
        <p class="par"> Led by industry experts, our dynamic platform offers hands-on projects, peer collaboration, and
          personalized feedback to ensure you stay ahead of the curve. Join a vibrant community of learners and
          professionals, where creativity flourishes, and innovation knows no bounds. With WebSpark, ignite your passion
          for technology, sharpen your skills, and embark on a transformative journey towards mastering web and app
          development.</p>
        <button class="join"><a href="#">JOIN US</a></button>

      </div>
    </div>
    <div class="col-md-4 lg-4 d-flex justify-content-center">
    <div class="form "> 
      <h2>Login Here</h2>
      <input type="email" name="email" placeholder="Enter Email Here">
      <input type="password" name="" placeholder="Enter Password Here">
      <button class="btnn"><a href="#">Login</a></button>

      <p class="link">Don't have an account,<br>
        <a href="#">Sign up </a>here
      </p>
      <p class="liw">Log in with</p>

      <!-- <div class="icons"> 
              <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
              <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
              <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
              <a href="#"><ion-icon name="logo-google"></ion-icon></a>
              <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
          </div>
-->
    </div>
  </div>





</div>
</div>



<app-footer> </app-footer>